*{
    margin:0;
    padding: 0;
}

body{
    background-color: darkkhaki;
}

p{
    margin: 10px;
    line-height: 3ex;
    text-align: justify;
}

nav ul li:hover{
    background-color: whitesmoke;
}

nav ul li{
    text-align: center;

}

nav ul li ul{
    display: grid;
    grid-template-columns: auto;
}

nav ul li ul li{
    display: none;
}
nav ul li:hover ul{
    display: block;
}
/*main{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    box-shadow: 10px 10px 10px;

    margin: 0 auto 50px auto;
}*/
main{
    width: 50%;
    margin: 0 auto 50px auto;
    background-color: rgb(167, 131, 15);
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}
nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    justify-items: stretch;
}
footer{
    color: whitesmoke;
    background-color: rgb(67, 72, 94);
    text-align: center;
    padding: 15px;
    box-shadow: 0 -15px 10px;
}
footer a{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer a:hover{
    
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size:  15pt;
} 







